<app-header></app-header>



 <!--Para mostrar la conexion establecida-->

<div *ngIf="elasticsearchInfo">
  <p>Connection to Elasticsearch established!</p>
</div>


<div *ngIf="searchData">
  <h2>Resultados de la búsqueda:</h2>
  <div style="display: flex; flex-wrap: wrap;">
    <div *ngFor="let result of searchData" style="flex: 1 0 15%; margin: 1%;">
      <ng-container *ngIf="result.price">
        <strong>Nombre:</strong> {{ result.name }}<br>
        <strong>Descripción:</strong> {{ result.description }}<br>
        <strong>Precio:</strong> {{ result.price }}<br>
        <!-- Otros campos específicos de frutas -->
      </ng-container>
      <ng-container *ngIf="result.raza">
        <strong>Nombre:</strong> {{ result.name }}<br>
        <strong>Raza:</strong> {{ result.raza }}<br>
        <strong>Descripción:</strong> {{ result.descripcion }}<br>
        <strong>Color:</strong> {{ result.color }}<br>
        <strong>Patologías:</strong> {{ result.patologias }}<br>
        <strong>Pelaje:</strong> {{ result.pelaje }}<br>
        <strong>Tipo:</strong> {{ result.tipus }}<br>
        <!-- Otros campos específicos de animales -->
      </ng-container>
    </div>
  </div>
</div>
