/* navigation.component.css */
.navigation {
  flex-direction: column; /* Cambiado a columna para apilar los elementos verticalmente */
  justify-content: space-between; /* Ajustado para espacio entre los elementos */
  align-items: center;
  padding: 10px;
  background-color: #ffc16d;
  color: white;
  width: 100%;
}

.open {
  transform: translateX(250px);
  transition: transform .5s ease-in-out;
}

.menu-container {
  position: relative;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Color oscuro y semitransparente */
  z-index: 1; /* Asegurarse de que el fondo oscuro esté detrás del menú */
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.2); /* Color oscuro y semitransparente cuando está activo */
}

.dropdown-content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;
  background-color: #ffc16d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos al inicio del eje transversal */
  padding-top: 10px;
  z-index: 2; /* Asegurarse de que el menú esté encima del fondo oscuro */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5); /* Agrega sombra */
  transform: translateX(-100%); /* Inicialmente a la izquierda */
  transition: transform 0.3s ease-out, visibility 0.3s ease-out, opacity 0.3s ease-out; /* Agrega transición para suavizar el movimiento, la visibilidad y la opacidad */
  visibility: hidden; /* Inicialmente invisible */
  opacity: 0; /* Inicialmente transparente */
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.dropdown-content.active {
  transform: translateX(0); /* Mueve el menú a la derecha cuando está activo */
  visibility: visible; /* Visible cuando está activo */
  opacity: 1; /* Opaco cuando está activo */
}

.dropdown-content img { /* Cruz que se encuentra dentro del desplegable */
  width: 30px; /* Ajusta el ancho de la imagen */
  height: 30px; /* Ajusta la altura de la imagen */
  margin: 10px; /* Añade margen alrededor de la imagen */
  opacity: 70%;
}

.buttonSel {
  font-family: Candara;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ffc16d;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.buttonSel.selected {
  background-color: #ffc16d;
}

.buttonSel span {
  margin-right: 10px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botones-adicionales {
  display: none;
  flex-direction: column;
  margin-left: 20px;
  max-width: 200px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}



